body{
   background-image: url(../images/background2.jpg);
   background-size: cover;
}
#title{
    font-size: 100px;
    text-align: center;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Pacifico', cursive;
}

button{
    border-radius: 8px;
    color: white;
    font-size: 20px;
    text-align: center;
    border: 2px solid #542B8A;
    padding: 10px;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 5px;
}

button:hover{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pictureBlock{
    height: 250px;
    width: 250px;
}

img.gif-style{
    height: 200px;
    width: 200px;
}

.jumbotron{
    background:  rgba(255,255,255,0.5);
    text-align: center;
    font-weight: bold;
    font-family: 'Handlee', cursive;
    margin: 100px;
    max-height: 80vh;
    overflow: auto;
}
#giphy-view{
    display: flex;
    flex-wrap: wrap;
    
}